<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>push-to-talk</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NSMicrophoneUsageDescription</key>
	<string>BookTalk needs microphone access to record audio annotations.</string>
	<key>NSCameraUsageDescription</key>
	<string>BookTalk needs camera access to scan book barcodes and take photos.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>BookTalk needs photo library access to add images to your annotations.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>BookTalk uses speech recognition to transcribe your audio annotations locally.</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>dev.bramadams.BookTalk</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>booktalk</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
